<mat-card class="card-cadastro">
  <mat-card-content>
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="restaurante.nome" placeholder="Digite o nome do Restaurante">
    </mat-form-field><br>
    <div class="nota">
      <h4>Nota: </h4>
      <mat-radio-group matInput [(ngModel)]="restaurante.nota">
        <mat-radio-button value=1>1</mat-radio-button>
        <mat-radio-button value=2>2</mat-radio-button>
        <mat-radio-button value=3>3</mat-radio-button>
        <mat-radio-button value=4>4</mat-radio-button>
        <mat-radio-button value=5>5</mat-radio-button>
      </mat-radio-group><br>
    </div>
    <!-- <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="restaurante.nota" placeholder="Digite a nota do Restaurante">
    </mat-form-field><br> -->
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="restaurante.endereco" placeholder="Digite o endereco do Restaurante">
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <textarea matInput [(ngModel)]="restaurante.descricao" placeholder="Digite a descrição do Restaurante"></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="cadastrar()">{{nomeBotaoManutencao}}</button>
  </mat-card-actions>
</mat-card>