mat-card {
    margin: 14px;
    width: 65%;
}
mat-form-field {
    margin: 8px;
    width: 47%;
}
.nota {
    color: floralwhite;
    margin-bottom: 16px;
}

h4 {
    padding-left: 11px;
}