<div>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let restaurante of restaurantes">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{restaurante.nome}}</mat-card-title>
          <mat-card-subtitle *ngIf="restaurante.nota > 0">Nota: {{restaurante.nota}} estrelas</mat-card-subtitle>
          <mat-card-subtitle *ngIf="restaurante.endereco" >Endereço: {{restaurante.endereco}}</mat-card-subtitle>
        </mat-card-header><br>
        <mat-card-content>
          {{restaurante.descricao}}
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="editar(restaurante)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button (click)="excluir(restaurante)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>